<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916713107635-s1m8bu0d8e0s152bo1d3ukfonmchjt8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916713107635-s1m8bu0d8e0s152bo1d3ukfonmchjt8f</string>
	<key>API_KEY</key>
	<string>AIzaSyCU27hKLfxIUiH_pQTC8r3T5Yb2KhryauA</string>
	<key>GCM_SENDER_ID</key>
	<string>916713107635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appconferencia</string>
	<key>PROJECT_ID</key>
	<string>appconferencia-c6875</string>
	<key>STORAGE_BUCKET</key>
	<string>appconferencia-c6875.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916713107635:ios:bd5ddf5d8a9b206dae80c6</string>
</dict>
</plist>